

.aboutMe {
    max-width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 60px 0;

    .aboutMe-content {
        color: #fff;
        max-width: 1000px;

        h1 {
            font-family: 'Ubuntu', sans-serif;
            transition: 0.3s;

            span {
                color: red;
                transition: 0.3s;
            }
            cursor: pointer;
            &:hover {
                text-decoration: underline;

                span {
                    text-decoration: underline;
                }
            }
        }
        p {
            font-family: 'Source Code Pro', monospace;
        }
    }

}




