.discord {
    width: 100vw;
    margin: auto;
    height: 100vh;


    .discord-content {
        padding: 10px 50px;



        h1 {
            color: white;
            font-family: 'Source Code Pro', monospace;
            font-weight: 500;
        }
    }
}